VINU_CORRELATION_DATA_ROOT=../data/correlation
VINU_NEWS_API_URL=http://127.0.0.1:8080
VINU_STOCK_API_URL=http://127.0.0.1:8081
VINU_CORRELATION_PORT=8083
VINU_CORRELATION_MARKET_HOURS_ONLY=true
VINU_CORRELATION_SESSION_BREAK_ON_CLOSE=true
VINU_CORRELATION_CACHE_TTL_SEC=300
VINU_CORRELATION_CACHE_MAXSIZE=128
VINU_CORRELATION_COMPUTE_POLL_INTERVAL_SEC=3600
VINU_CORRELATION_COMPACT_THRESHOLD=50
VINU_CORRELATION_IMPACT_HIGH_THRESHOLD=2.0
VINU_CORRELATION_IMPACT_MEDIUM_THRESHOLD=0.5
VINU_CORRELATION_DRAWDOWN_MIN_PCT=-3.0
VINU_CORRELATION_DRAWDOWN_LOOKBACK_HOURS=24
VINU_CORRELATION_BASELINE_WINDOW_DAYS=7
